/* IMPORT ROOT */
@import url("/core/style/static/root/root.css");

/* ROOT */
:root {
    /* ERROR PAGES -> 400 */

    --error-page-background:
        url("/asset/global/image/background/webp/wallpaper-cartoon-network-adventure-time-cartoon-d0-05-04-2024-19-30.webp");
    --error-page-bgcolor: rgba(var(--color-rgb-elite-black-light), 1);
    --error-page-color: var(--color-elite-white-base);
    --error-page-font-family: "font-aeronaut";
    --error-page-font-weight: 400;
    --error-page-font-size: clamp(1rem, 4vw, 4rem);
    --error-page-text-shadow: 5px 5px 25px rgba(var(--color-rgb-elite-white-base), 0.5);

    /* SERVER ERROR PAGES -> 500 */
    --server-error-page-background:
        url("/asset/global/image/background/webp/wallpaper-cartoon-network-adventure-time-cartoon-d0-05-04-2024-19-30.webp");
    --server-error-page-bgcolor: rgba(var(--color-rgb-elite-black-light), 1);
    --server-error-page-color: var(--color-elite-white-base);
    --server-error-page-font-family: "font-aeronaut";
    --server-error-page-font-weight: 400;
    --server-error-page-font-size: clamp(1rem, 4vw, 4rem);
    --server-error-page-text-shadow: 5px 5px 25px rgba(var(--color-rgb-elite-white-base), 0.5);

    /* STATUS AREA */
    --status-area-bgcolor: rgba(var(--color-rgb-elite-black-dark-extra), 0.75);
    --status-area-color: var(--color-elite-white-base);
}

/* ERROR PAGE -> 400 */
.error-page {
    color: var(--error-page-color);
    background: var(--error-page-background);
    background-color: var(--error-page-bgcolor);
    font-family: var(--error-page-font-family);
    font-weight: var(--error-page-font-weight);
    font-size: var(--error-page-font-size);
    text-shadow: var(--error-page-text-shadow);
}

/* ERROR PAGE -> 500 */
.server-error-page {
    color: var(--error-page-color);
    background: var(--server-error-page-background);
    background-color: var(--server-error-page-bgcolor);
    font-family: var(--server-error-page-font-family);
    font-weight: var(--server-error-page-font-weight);
    font-size: var(--server-error-page-font-size);
    text-shadow: var(--server-error-page-text-shadow);
}

/* MULTI */
.error-page,
.server-error-page {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

/* STATUS AREA */
.status-area {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--status-area-color);
    background: var(--status-area-bgcolor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(0.75rem);
    line-height: 1.5;
    padding: 0;
    margin: 0;
}