/* ROBOTO */
/* FONT -> ROBOTO LIGHT */
@font-face {
    font-family: "font-roboto-light";
    src: url("/asset/global/font/roboto/woff2/Roboto-Light.woff2") format("woff2"),
        url("/asset/global/font/roboto/woff/Roboto-Light.woff") format("woff"),
        url("/asset/global/font/roboto/truetype/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* FONT -> ROBOTO LIGHT ITALIC */
@font-face {
    font-family: "font-roboto-light-italic";
    src: url("/asset/global/font/roboto/woff2/Roboto-Light-Italic.woff2") format("woff2"),
        url("/asset/global/font/roboto/woff/Roboto-Light-Italic.woff") format("woff"),
        url("/asset/global/font/roboto/truetype/Roboto-Light-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* FONT -> ROBOTO REGULAR */
@font-face {
    font-family: "font-roboto-regular";
    src: url("/asset/global/font/roboto/woff2/Roboto-Regular.woff2") format("woff2"),
        url("/asset/global/font/roboto/woff/Roboto-Regular.woff") format("woff"),
        url("/asset/global/font/roboto/truetype/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* FONT -> ROBOTO ITALIC */
@font-face {
    font-family: "font-roboto-italic";
    src: url("/asset/global/font/roboto/woff2/Roboto-Italic.woff2") format("woff2"),
        url("/asset/global/font/roboto/woff/Roboto-Italic.woff") format("woff"),
        url("/asset/global/font/roboto/truetype/Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* FONT -> ROBOTO REGULAR */
@font-face {
    font-family: "font-roboto-medium";
    src: url("/asset/global/font/roboto/woff2/Roboto-Medium.woff2") format("woff2"),
        url("/asset/global/font/roboto/woff/Roboto-Medium.woff") format("woff"),
        url("/asset/global/font/roboto/truetype/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* FONT -> ROBOTO BOLD */
@font-face {
    font-family: "font-roboto-bolder";
    src: url("/asset/global/font/roboto/woff2/Roboto-Bold.woff2") format("woff2"),
        url("/asset/global/font/roboto/woff/Roboto-Bold.woff") format("woff"),
        url("/asset/global/font/roboto/truetype/Roboto-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* FONT -> ROBOTO BOLD ITALIC */
@font-face {
    font-family: "font-roboto-bold-italic";
    src: url("/asset/global/font/roboto/woff2/Roboto-Bold-Italic.woff2") format("woff2"),
        url("/asset/global/font/roboto/woff/Roboto--Italic.woff") format("woff"),
        url("/asset/global/font/roboto/truetype/Roboto-Bold-Italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

/* FONT -> ROBOTO BOLDER */
@font-face {
    font-family: "font-roboto-bolder";
    src: url("/asset/global/font/roboto/woff2/Roboto-Black.woff2") format("woff2"),
        url("/asset/global/font/roboto/woff/Roboto-Black.woff") format("woff"),
        url("/asset/global/font/roboto/truetype/Roboto-Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* FONT -> ROBOTO BOLDER ITALIC */
@font-face {
    font-family: "font-roboto-bolder-italic";
    src: url("/asset/global/font/roboto/woff2/Roboto-Black-Italic.woff2") format("woff2"),
        url("/asset/global/font/roboto/woff/Roboto-Black-Italic.woff") format("woff"),
        url("/asset/global/font/roboto/truetype/Roboto-Black-Italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}