/* FONTS */
@import url("/core/style/static/root/font.css");

/* ROOT */
:root {
    /* GLOBAL */
    --color-global-transparent: "transparent";

    /* PALETTE HEX */
    --color-hex-extra-dark-black: #000000;
    --color-hex-base-black: #25282a;
    --color-hex-light-black: #2d3133;
    --color-hex-extra-light-black: #343434;

    --color-hex-dark-grey: #303841;
    --color-hex-base-grey-v2: #464545;
    --color-hex-base-grey: #3a4750;
    --color-hex-light-grey: #9c9c9c;
    
    --color-hex-dark-navyblue: #0e2431;
    --color-hex-base-navyblue: #083358;
    --color-hex-light-navyblue: #0f4471;
    --color-hex-extra-light-navyblue: #33425b;

    --color-hex-extra-dark-teal: #1e6262;
    --color-hex-dark-teal: #048998;
    --color-hex-base-teal: #3bb4c1;
    --color-hex-extra-light-teal-v2: #ddfff8;
    --color-hex-extra-light-teal: #b4f1f1;

    --color-hex-dark-blue: #1687a7;
    --color-hex-base-blue: #2185d5;
    --color-hex-light-blue: #3fc5f0;

    --color-hex-dark-purple: #421b9b;
    --color-hex-base-purple: #9818d6;
    --color-hex-light-purple: #753cfa;
    --color-hex-extra-light-purple: #a06ee1;
    
    --color-hex-extra-dark-white: #d8e9f0;
    --color-hex-dark-white-v2: #eeeeee;
    --color-hex-dark-white: #e8d5b7;
    --color-hex-base-white-v3: #c9d6df;
    --color-hex-base-white-v2: #f3f3f3;
    --color-hex-base-white: #feffe4;
    --color-hex-light-white: #f0f5f9;
    --color-hex-extra-light-white: #ffffff;

    --color-hex-dark-red: #d72323;
    --color-hex-base-red-v2: #f33535;
    --color-hex-base-red: #fc3a52;
    --color-hex-light-red-v2: #fc3c3c;
    --color-hex-light-red: #fa4659;

    --color-hex-dark-green: #149855;
    --color-hex-base-green: #2eb872;
    --color-hex-extra-light-green: #a3de83;

    --color-hex-dark-orange: #fd5f00;
    --color-hex-base-orange: #f96d00;
    --color-hex-light-orange: #f79900;

    --color-hex-extra-dark-yellow: #ea9215;
    --color-hex-dark-yellow: #fdb44b;
    --color-hex-base-yellow: #f9b248;

    /* PALETTE RGB */
    --color-rgb-extra-dark-black: 0,0,0;
    --color-rgb-base-black: 37,40,42;
    --color-rgb-light-black: 45,49,51;
    --color-rgb-extra-light-black: 52,52,52;

    --color-rgb-dark-grey: 48,56,65;
    --color-rgb-base-grey-v2: 70,69,69;
    --color-rgb-base-grey: 51,78,80;
    --color-rgb-light-grey: 156,156,156;
    
    --color-rgb-dark-navyblue: 14,36,49;
    --color-rgb-base-navyblue: 8,51,88;
    --color-rgb-light-navyblue: 15,68,113;
    --color-rgb-extra-light-navyblue: 51,66,91;

    --color-rgb-extra-dark-teal: 30,98,98;
    --color-rgb-dark-teal: 4,137,152;
    --color-rgb-base-teal: 59,180,193;
    --color-rgb-extra-light-teal-v2: 221,255,248;
    --color-rgb-extra-light-teal: 180,241,241;

    --color-rgb-dark-blue: 22,135,167;
    --color-rgb-base-blue: 33,133,213;
    --color-rgb-light-blue: 63,197,240;

    --color-rgb-dark-purple: 66,27,255;
    --color-rgb-base-purple: 154,24,214;
    --color-rgb-light-purple: 117, 60, 250;
    --color-rgb-extra-light-purple: 160,110,225;
    
    --color-rgb-extra-dark-white: 216,233,240;
    --color-rgb-dark-white-v2: 238,238,238;
    --color-rgb-dark-white: 232,213,183;
    --color-rgb-base-white-v3: 201,214,223;
    --color-rgb-base-white-v2: 243,243,243;
    --color-rgb-base-white: 254,255,228;
    --color-rgb-light-white: 240,245,249;
    --color-rgb-extra-light-white: 255,255,255;

    --color-rgb-dark-red: 215,35,35;
    --color-rgb-base-red-v2: 243,53,53;
    --color-rgb-base-red: 252,58,82;
    --color-rgb-light-red-v2: 252,60,60;
    --color-rgb-light-red: 250,70,89;

    --color-rgb-dark-green: 20,152,85;
    --color-rgb-base-green: 46,184,114;
    --color-rgb-extra-light-green: 163,222,131;

    --color-rgb-dark-orange: 253,95,0;
    --color-rgb-base-orange: 249,109,0;
    --color-rgb-light-orange: 247,153,0;

    --color-rgb-extra-dark-yellow: 234,146,21;
    --color-rgb-dark-yellow: 253,180,75;
    --color-rgb-base-yellow: 249,178,72;

    /* STATIC */
    --color-static-hex-primary: var(--color-hex-light-red-v2);
    --color-static-hex-secondary: var(--color-hex-light-orange);
    --color-static-hex-third: var(--color-hex-dark-green);
    --color-static-hex-fourth: var(--color-hex-light-purple);
    --color-static-hex-fifth: var(--color-hex-extra-light-navyblue);

    --color-static-rgb-primary: var(--color-rgb-light-red-v2);
    --color-static-rgb-secondary: var(--color-rgb-light-orange);
    --color-static-rgb-third: var(--color-rgb-dark-green);
    --color-static-rgb-fourth: var(--color-rgb-light-purple);
    --color-static-rgb-fifth: var(--color-rgb-extra-light-navyblue);

    /* LINEAR */
    --color-linear-green-teal: linear-gradient(90deg, rgba(11,150,17,1) 0%, rgba(40,255,67,1) 100%);
    --color-linear-red-lightred: linear-gradient(90deg, rgba(228,0,0,1) 0%, rgba(255,59,59,1) 100%);
    --color-linear-orange-yellow: linear-gradient(90deg, rgba(255,104,0,1) 0%, rgba(255,156,0,1) 100%);
    --color-linear-gray-black: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(44,44,44,1) 100%);
    --color-linear-white-gray: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(166,166,166,1) 100%);

    /* GLOBAL FONTS */
    --root-font-family-elite: "font-roboto-medium";
    --root-font-family-prime: "font-roboto-regular";

    /* THEME COLOR AUTO */
    --theme-hex-color-theme: var(--color-hex-base-black);
    --theme-hex-color-theme-low: var(--color-hex-extra-light-black);
    --theme-hex-color-opposite: var(--color-hex-base-white-v2);
    --theme-hex-color-opposite-low: var(--color-hex-light-white);

    --theme-rgb-color-theme: var(--color-rgb-base-black);
    --theme-rgb-color-theme-low: var(--color-rgb-extra-light-black);
    --theme-rgb-color-opposite: var(--color-rgb-base-white-v2);
    --theme-rgb-color-opposite-low: var(--color-rgb-light-white);

    /* STATUSAREA */
    --statusarea-width: 100%;
    --statusarea-height: auto;
    --statusarea-display: none;
    --statusarea-flex-direction: row;
    --statusarea-display-wrap: wrap;
    --statusarea-position: relative;
    --statusarea-align-items: center;
    --statusarea-align-content: center;
    --statusarea-align-text: center;
    --statusarea-color: var(--theme-hex-color-opposite-low);
    --statusarea-bgcolor: rgba(var(--theme-rgb-color-theme), 1);
    --statusarea-fontfamily: var(--root-font-family-elite);
    --statusarea-fontsize: clamp(0.8rem, 3vw, 0.9rem);
    --statusarea-border: 0;
    --statusarea-border-radius: 1.25rem;
    --statusarea-padding: clamp(0.25rem, 5dvh, 0.5rem) clamp(0.25rem, 5%, 0.75rem);
    --statusarea-margin: clamp(0.25rem, 5dvh, 0.5rem) 0;
    --statusarea-overflow: hidden;

    /* STATUSAREA SPAN */
    --statusarea-span-color: var(--theme-hex-color-opposite-low);
    --statusarea-span-bgcolor: rgba(var(--theme-rgb-color-theme), 0);

    /* STATUSAREA ICON */
    --statusarea-icon-display: flex;
    --statusarea-icon-border: 0;
    --statusarea-icon-border-radius: 1.25rem;
    --statusarea-icon-padding: 0.125rem;
    --statusarea-icon-margin: 0 clamp(0.125rem, 5%, 0.25rem);

    --statusarea-icon-svg-width: clamp(0.5rem, 25vw, 1.25rem);
    --statusarea-icon-svg-height: clamp(0.5rem, 25dvh, 1.25rem);
    --statusarea-icon-svg-color: var(--theme-color-rook);
    --statusarea-icon-svg-padding: clamp(0.125rem, 25%, 0.125rem);

    --statusarea-color-success: var(--color-hex-light-white);
    --statusarea-bg-success: rgba(var(--color-static-rgb-third), 1);

    --statusarea-color-error: var(--color-hex-light-white);
    --statusarea-bg-error: rgba(var(--color-static-rgb-primary), 1);

    --statusarea-color-warning: var(--color-hex-light-white);
    --statusarea-bg-warning: rgba(var(--color-static-rgb-secondary), 1);

    --statusarea-color-major-error: var(--color-hex-light-white);
    --statusarea-bg-major-error: rgba(var(--color-static-rgb-fifth), 1);
}

/* AUTO */
@media(prefers-color-scheme: auto) {
    :root {
        color-scheme: dark light;
    }
}

:has:not(html[data-color-theme="dark"], html[data-color-theme="light"]) {
    color-scheme: dark light;
}

/* LIGHT THEME */
@media(prefers-color-scheme: light) {
    :root {
        color-scheme: light;

        /* THEME COLOR */
        --theme-hex-color-theme: var(--color-hex-extra-light-white);
        --theme-hex-color-theme-low: var(--color-hex-base-white-v2);
        --theme-hex-color-opposite: var(--color-hex-light-black);
        --theme-hex-color-opposite-low: var(--color-hex-light-black);

        --theme-rgb-color-theme: var(--color-rgb-extra-light-white);
        --theme-rgb-color-theme-low: var(--color-rgb-base-white-v2);
        --theme-rgb-color-opposite: var(--color-rgb-light-black);
        --theme-rgb-color-opposite-low: var(--color-rgb-light-black);
    }
}

html[data-color-theme="light"] {
    color-scheme: light;

    /* THEME COLOR */
    --theme-hex-color-theme: var(--color-hex-extra-light-white);
    --theme-hex-color-theme-low: var(--color-hex-base-white-v2);
    --theme-hex-color-opposite: var(--color-hex-light-black);
    --theme-hex-color-opposite-low: var(--color-hex-light-black);

    --theme-rgb-color-theme: var(--color-rgb-extra-light-white);
    --theme-rgb-color-theme-low: var(--color-rgb-base-white-v2);
    --theme-rgb-color-opposite: var(--color-rgb-light-black);
    --theme-rgb-color-opposite-low: var(--color-rgb-light-black);
}

/* DARK THEME */
@media(prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        /* THEME COLOR */
        --theme-hex-color-theme: var(--color-hex-base-black);
        --theme-hex-color-theme-low: var(--color-hex-extra-light-black);
        --theme-hex-color-opposite: var(--color-hex-base-white-v2);
        --theme-hex-color-opposite-low: var(--color-hex-light-white);

        --theme-rgb-color-theme: var(--color-rgb-base-black);
        --theme-rgb-color-theme-low: var(--color-rgb-extra-light-black);
        --theme-rgb-color-opposite: var(--color-rgb-base-white-v2);
        --theme-rgb-color-opposite-low: var(--color-rgb-light-white);
    }
}

html[data-color-theme="dark"] {
    color-scheme: dark;

    /* THEME COLOR */
    --theme-hex-color-theme: var(--color-hex-base-black);
    --theme-hex-color-theme-low: var(--color-hex-extra-light-black);
    --theme-hex-color-opposite: var(--color-hex-base-white-v2);
    --theme-hex-color-opposite-low: var(--color-hex-light-white);

    --theme-rgb-color-theme: var(--color-rgb-base-black);
    --theme-rgb-color-theme-low: var(--color-rgb-extra-light-black);
    --theme-rgb-color-opposite: var(--color-rgb-base-white-v2);
    --theme-rgb-color-opposite-low: var(--color-rgb-light-white);
}

/* ALL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.25;
}

/* BODY */
body {
    color: var(--theme-hex-color-opposite);
    background: rgba(var(--theme-rgb-color-theme), 1);
}

a, button {
    text-decoration: none;
    cursor: pointer;
}

a, button, select {
    outline: none;
}

ul, li {
    list-style-type: none;
}

/* STATUS AREA */
.statusarea {
    width: var(--statusarea-width);
    height: var(--statusarea-height);
    display: var(--statusarea-display);
    position: var(--statusarea-position);
    flex-direction: var(--statusarea-flex-direction);
    flex-wrap: var(--statusarea-display-wrap);
    align-items: var(--statusarea-align-items);
    justify-content: var(--statusarea-align-content);
    text-align: var(--statusarea-align-text);
    color: var(--statusarea-color);
    background: var(--statusarea-bgcolor);
    font-family: var(--statusarea-fontfamily);
    font-size: var(--statusarea-fontsize);
    border: var(--statusarea-border);
    border-radius: var(--statusarea-border-radius);
    padding: var(--statusarea-padding);
    margin: var(--statusarea-margin);
    overflow: var(--statusarea-overflow);
}

/* STATUSAREA -> STATUS ICON */
.statusarea span {
    color: var(--statusarea-span-color);
    background: var(--statusarea-span-bgcolor);
    padding: var(--statusarea-icon-padding);
    margin: var(--statusarea-icon-margin);
}

.statusarea .status_icon {
    display: var(--statusarea-icon-display);
    border: var(--statusarea-icon-border);
    border-radius: var(--statusarea-icon-border-radius);
    margin: var(--statusarea-icon-margin);
}

.status_icon svg {
    width: var(--statusarea-icon-svg-width);
    height: var(--statusarea-icon-svg-height);
    color: var(--statusarea-icon-svg-color);
    padding: var(--statusarea-icon-svg-padding);
}

/* STATUS AREA -> SUCCESS */
.statusarea:is(
    [data-login-status="statussuccess"],
    [data-encrypt-status="encverifysuccess"],
    [data-encrypt-status="enccreatesuccess"]) {
        background: var(--statusarea-bg-success);
}

.statusarea:is(
    [data-login-status="statussuccess"],
    [data-encrypt-status="encverifysuccess"],
    [data-encrypt-status="enccreatesuccess"]) span {
        color: var(--statusarea-color-success);
}

/* STATUS AREA -> ERROR */
.statusarea:is(
    [data-login-status="statuserror"],
    [data-encrypt-status="encverifyerror"],
    [data-encrypt-status="enccreateerror"]) {
        background: var(--statusarea-bg-error);
}

.statusarea:is(
    [data-login-status="statuserror"],
    [data-encrypt-status="encverifyerror"],
    [data-encrypt-status="enccreateerror"]) span {
        color: var(--statusarea-color-error);
}

/* STATUS AREA -> WARNING */
.statusarea:is(
    [data-login-status="statuswarning"],
    [data-encrypt-status="encverifywarning"],
    [data-encrypt-status="enccreatewarning"]) {
        background: var(--statusarea-bg-warning);
}

.statusarea:is(
    [data-login-status="statuswarning"],
    [data-encrypt-status="encverifywarning"],
    [data-encrypt-status="enccreatewarning"]) span {
        color: var(--statusarea-color-warning);
}
