@import url("Root.css");

.signmain {
    width: 100%;
    height: 100dvh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background:
        linear-gradient(135deg, rgba(0,0,0, 0.9), rgba(36,36,36, 0.3)),
        url("../../../asset/background/wallpaper-ducks-d0-25-03-2024-14-46.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--root-font-family-elite);
}

.signarea {
    width: 100%;
    height: 100dvh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--theme-hex-color-opposite);
    background: transparent;
    border: 0;
    border-radius: 0;
    overflow: hidden;
    z-index: 0;
}

.titlearea,
.inputarea,
.submitarea,
.redirectarea {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: clamp(0.25rem, 5dvh, 0.75rem) 0;
    margin: clamp(0.125rem, 2dvh, 0.125rem) 0 0 0;
}

.titlearea {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    border-radius: 1.25rem;
    color: var(--theme-hex-color-opposite);
    background: rgba(var(--theme-rgb-color-theme), 0);
}

.titlearea_textarea {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
}

.titlearea_textarea .textarea_title {
    color: var(--theme-hex-color-opposite);
    background: transparent;
    font-size: clamp(1.5rem, 10vw, 2.5rem);
    padding: 0;
    margin: clamp(0.125rem, 5dvh, 0.25rem) 0;
}

.titlearea_textarea .textarea_description {
    color: var(--theme-hex-color-opposite);
    background: transparent;
    font-size: clamp(0.9rem, 5vw, 1.1rem);
    padding: 0;
    margin: clamp(0.125rem, 5dvh, 0.25rem) 0;
}

.inputarea {
    color: var(--theme-hex-color-opposite);
    background: transparent;
}

.inputarea .input_data {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    color: var(--theme-hex-color-theme);
    background: rgba(var(--theme-rgb-color-opposite), 1);
    outline: 0;
    border: 0;
    border-radius: 1rem;
    font-size: clamp(0.8rem, 3vw, 0.9rem);
    font-family: var(--root-font-family-elite);
    padding: clamp(0.25rem, 5dvh, 0.75rem) clamp(0.5rem, 10%, 1rem);
    margin: clamp(0.125rem, 4dvh, 0.25rem) 0;
}

.submitarea {
    padding: 0;
    margin: clamp(0.25rem, 5dvh, 0.75rem) 0 clamp(0.125rem, 2dvh, 0.125rem) 0;
}

.submitarea .input_submitbtn {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--theme-hex-color-opposite);
    background: rgba(var(--theme-rgb-color-theme-low), 1);
    border: 0;
    border-radius: 1rem;
    font-size: clamp(0.8rem, 5vw, 0.9rem);
    font-family: var(--root-font-family-elite);
    padding: clamp(0.25rem, 5dvh, 0.75rem) clamp(0.5rem, 10%, 2.5rem);
    margin: 0;
}

.input_submitbtn:hover {
    color: var(--theme-hex-color-theme-low);
    background: rgba(var(--theme-rgb-color-opposite), 1);
    box-shadow: 0 0 10px 0px rgba(var(--theme-rgb-color-theme-low), 0.25);
    transition: 240ms linear;
}

.redirectarea .redirect_btn {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    color: var(--theme-hex-color-opposite);
    background: transparent;
    border: 0;
    border-radius: 1rem;
    font-size: clamp(0.8rem, 3vw, 0.9rem);
    padding: clamp(0.25rem, 5dvh, 0.75rem) clamp(0.5rem, 10%, 2.5rem);
    margin: 0;
}

.redirect_btn:hover {
    color: var(--theme-hex-color-theme);
    background: rgba(var(--theme-rgb-color-opposite), 1);
    box-shadow: 0 0 10px 0px rgba(var(--theme-rgb-color-theme-low), 0.25);
    transition: 240ms linear;
}

.statusarea {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: clamp(0.25rem, 5dvh, 0.5rem) 0;
}

.statusarea .status_msg {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    border-radius: 1rem;
    padding: clamp(0.25rem, 5dvh, 0.5rem) clamp(0.5rem, 5%, 1rem);
    margin: 0.125rem 0;
}

.statusarea .error {
    color: var(--color-hex-light-white);
    background: rgba(var(--color-rgb-base-red-v2), 1);
    box-shadow: 0 0 10px 0px rgba(var(--color-rgb-base-red-v2), 0.25);
}

.statusarea .success {
    color: var(--color-hex-light-white);
    background: rgba(var(--color-rgb-dark-green), 1);
    box-shadow: 0 0 10px 0px rgba(var(--color-rgb-dark-green), 0.25);
}