/* Import */
@import url("Root.css");

/* Progress Bar */
.progressbar {
    width: 0%;
    height: clamp(0.25rem, 5dvh, 1rem);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    border-radius: 0.25rem;
    padding: clamp(0.125rem, 5dvh, 1rem) clamp(0.125rem, 5vw, 1rem);
    margin: clamp(0.125rem, 2dvh, 0.25rem) clamp(0.125rem, 2vw, 0.25rem);
}

.uploadprogressbar {
    display: none;
    background: rgba(var(--theme-rgb-color-opposite), 1);
    color: var(--theme-hex-color-theme);
}

.statusarea {
    width: auto;
    height: auto;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: clamp(0.25rem, 5dvh, 0.5rem) 0;
    right: clamp(0.25rem, 5vw, 2rem);
    bottom: clamp(0.25rem, 5dvh, 2rem);
    transform: translate(clamp(-0.25rem, -5vw, -2rem), clamp(-0.25rem, -5dvh, -2rem));
}

.statusarea .status-send {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    border-radius: 1rem;
    padding: clamp(0.25rem, 5dvh, 1rem) clamp(0.5rem, 5%, 1rem);
    margin: 0.125rem 0;
}

.status-send h3 {
    font-size: clamp(0.9rem, 3vw, 1.1rem);
}

.status-send p {
    font-size: clamp(0.9rem, 2vw, 1rem);
    margin: 0.125rem 0 0 0;
}

.status-send[data-status-type="error"] {
    color: var(--color-hex-light-white);
    background: rgba(var(--color-rgb-base-red-v2), 1);
    box-shadow: 0 0 10px 0px rgba(var(--color-rgb-base-red-v2), 0.25);
}

.status-send[data-status-type="warning"] {
    color: var(--color-hex-light-white);
    background: rgba(var(--color-rgb-dark-orange), 1);
    box-shadow: 0 0 10px 0px rgba(var(--color-rgb-dark-orange), 0.25);
}

.status-send[data-status-type="success"] {
    color: var(--color-hex-light-white);
    background: rgba(var(--color-rgb-dark-green), 1);
    box-shadow: 0 0 10px 0px rgba(var(--color-rgb-dark-green), 0.25);
}

.status-send[data-status-type="info"] {
    color: var(--color-hex-light-white);
    background: rgba(var(--color-rgb-light-navyblue), 1);
    box-shadow: 0 0 10px 0px rgba(var(--color-rgb-light-navyblue), 0.25);
}