/* Root */
@import url("Root.css");

/* Font */
@import url("Fonts/OpenSans.css");

/* Status */
@import url("Status.css");

/* ROOT */
:root {
    --signcss-font-family: "font-opensans-regular";
    --signcss-font-family-bold: "font-opensans-bold";
}

.signmain {
    width: 100%;
    height: 100dvh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    /*background: rgba(var(--theme-rgb-color-theme), 1);*/
    background:
        linear-gradient(135deg, rgba(0,0,0, 0.9), rgba(36,36,36, 0.3)),
        url("/Asset/background/wallpaper-ducks-d0-25-03-2024-14-46.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--signcss-font-family);
}

.signarea {
    width: clamp(140px, 90%, 500px);
    height: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-hex-light-white);
    background: rgba(var(--color-rgb-dark-black), 1);
    border: 0;
    border-radius: 0.5rem;
    backdrop-filter: blur(1rem);
    padding: clamp(0.5rem, 10dvh, 4rem) clamp(0.25rem, 5vw, 2rem);
    margin: 0;
    overflow: hidden;
    z-index: 0;
}

.signmainarea {
    width: 90%;
    height: auto;
}

.titlearea,
.inputarea,
.submitarea,
.redirectarea {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: clamp(0.25rem, 2dvh, 0.5rem) 0;
    margin: clamp(0.125rem, 2dvh, 0.125rem) 0 0 0;
}

.titlearea {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-hex-light-white);
    background: rgba(var(--color-rgb-dark-black), 1);
    border: 0;
    border-radius: 1.25rem;
}

.titlearea_textarea {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
}

.titlearea_textarea .textarea_title {
    background: transparent;
    font-size: clamp(1.5rem, 10vw, 2.5rem);
    padding: 0;
    margin: clamp(0.125rem, 5dvh, 0.25rem) 0;
}

.titlearea_textarea .textarea_description {
    background: transparent;
    font-size: clamp(0.9rem, 5vw, 1.1rem);
    padding: 0;
    margin: clamp(0.125rem, 5dvh, 0.25rem) 0;
}

.inputarea {
    color: var(--color-hex-light-white);
    background: transparent;
    gap: 0.25rem;
}

.inputarea .input_data {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    color: var(--color-hex-base-white);
    background: rgba(var(--color-rgb-light-black), 0.75);
    outline: 2px solid rgba(var(--color-rgb-light-white), 0.25);
    border: 0;
    border-radius: 1rem;
    font-size: clamp(0.7rem, 3vw, 0.9rem);
    font-family: var(--signcss-font-family-bold);
    padding: clamp(0.25rem, 5dvh, 0.75rem) clamp(0.5rem, 10%, 1rem);
    margin: clamp(0.125rem, 4dvh, 0.25rem) 0;
}

.input_data:not(:placeholder-shown):invalid {
    outline-color: var(--color-hex-base-red);
}

.input_data:not(:placeholder-shown):valid {
    outline-color: var(--color-hex-base-green);
}

.input_data:focus:invalid {
    outline-color: var(--color-hex-base-orange);
}

.submitarea {
    padding: 0;
    margin: clamp(0.25rem, 5dvh, 0.75rem) 0 clamp(0.125rem, 2dvh, 0.125rem) 0;
}

.submitarea .input_submitbtn {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-hex-base-black);
    background: rgba(var(--color-rgb-light-white), 1);
    border: 0;
    border-radius: 1rem;
    font-size: clamp(0.8rem, 5vw, 0.9rem);
    font-family: var(--signcss-font-family-bold);
    padding: clamp(0.25rem, 5dvh, 0.75rem) clamp(0.5rem, 10%, 2.5rem);
    margin: 0;
}

.submitarea .input_submitbtn:hover {
    color: var(--color-hex-light-white);
    background: rgba(var(--color-rgb-base-red-v2), 1);
    box-shadow: 0 0 10px 0px rgba(var(--color-rgb-base-red), 0.25);
    transition: 240ms linear;
}

.statusarea {
    position: relative;
    top: 0;
    transform: translateY(0);
}

/* THEME: LIGHT */
@media(prefers-color-scheme: light) {
    .signarea,
    .titlearea {
        color: var(--color-hex-base-black);
        background: rgba(var(--color-rgb-light-white), 1);
    }

    .inputarea {
        color: var(--color-hex-base-black);
        background: transparent;
    }

    .inputarea .input_data {
        color: var(--color-hex-base-black);
        background: rgba(var(--color-rgb-base-black), 0.1);
        outline-color: rgba(var(--color-rgb-base-black), 0.2);
    }

    .submitarea .input_submitbtn {
        color: var(--color-hex-light-white);
        background: rgba(var(--color-rgb-base-black), 1);
    }
}